## EDA And Feature Engineering Flight Price Prediction
check the dataset info below
https://www.kaggle.com/datasets/shubhambathwal/flight-price-prediction

### FEATURES
The various features of the cleaned dataset are explained below:
1) Airline: The name of the airline company is stored in the airline column. It is a categorical feature having 6 different airlines.
2) Flight: Flight stores information regarding the plane's flight code. It is a categorical feature.
3) Source City: City from which the flight takes off. It is a categorical feature having 6 unique cities.
4) Departure Time: This is a derived categorical feature obtained created by grouping time periods into bins. It stores information about the departure time and have 6 unique time labels.
5) Stops: A categorical feature with 3 distinct values that stores the number of stops between the source and destination cities.
6) Arrival Time: This is a derived categorical feature created by grouping time intervals into bins. It has six distinct time labels and keeps information about the arrival time.
7) Destination City: City where the flight will land. It is a categorical feature having 6 unique cities.
8) Class: A categorical feature that contains information on seat class; it has two distinct values: Business and Economy.
9) Duration: A continuous feature that displays the overall amount of time it takes to travel between cities in hours.
10)Days Left: This is a derived characteristic that is calculated by subtracting the trip date by the booking date.
11) Price: Target variable stores information of the ticket price.

Key Pandas function used for this projects
1. `read_csv()`
2. `to_csv()`
3. `info()`
4. `head()`
5. `tail()`
6. `describe()`
7. `apply(lambda)`  
8. `map()`  
9. `str.split()`
10. `drop()`
11. `get_dummies`   # One Hot encoding 
12. `concat`
13. `astype()`
14. `unique()`
15. `mode()`

In [1]:
# Ensure the necessary libraries are installed
try:
    import pandas as pd
    import numpy as np
    import seaborn as sns
    import matplotlib.pyplot as plt
    import sklearn
except ImportError:
    print("Installing required libraries...")
    %pip install -r requirements.txt
    import pandas as pd
    import numpy as np
    import seaborn as sns
    import matplotlib.pyplot as plt
    import sklearn
%matplotlib inline

Installing required libraries...
Requirement already satisfied: ipykernel in c:\users\sunil\appdata\roaming\python\python313\site-packages (from -r requirements.txt (line 1)) (6.29.5)
Collecting pandas (from -r requirements.txt (line 2))
  Using cached pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Collecting numpy (from -r requirements.txt (line 3))
  Using cached numpy-2.1.3-cp313-cp313-win_amd64.whl.metadata (60 kB)
Collecting seaborn (from -r requirements.txt (line 4))
  Using cached seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Collecting matplotlib (from -r requirements.txt (line 5))
  Downloading matplotlib-3.9.3-cp313-cp313-win_amd64.whl.metadata (11 kB)
Collecting openpyxl (from -r requirements.txt (line 6))
  Using cached openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting scikit-learn (from -r requirements.txt (line 7))
  Downloading scikit_learn-1.5.2-cp313-cp313-win_amd64.whl.metadata (13 kB)
Requirement already satisfied: comm>=0.1.1 in c:\users\sunil\appdata\roaming\python\python313\site-packages (from ipykernel->-r requirements.txt (line 1)) (0.2.2)
Requirement already satisfied: debugpy>=1.6.5 in c:\users\sunil\appdata\roaming\python\python313\site-packages (from ipykernel->-r requirements.txt (line 1)) (1.8.9)
Requirement already satisfied: ipython>=7.23.1 in c:\users\sunil\appdata\roaming\python\python313\site-packages (from ipykernel->-r requirements.txt (line 1)) (8.30.0)
Requirement already satisfied: jupyter-client>=6.1.12 in c:\users\sunil\appdata\roaming\python\python313\site-packages (from ipykernel->-r requirements.txt (line 1)) (8.6.3)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\sunil\appdata\roaming\python\python313\site-packages (from ipykernel->-r requirements.txt (line 1)) (5.7.2)
Requirement already satisfied: matplotlib-inline>=0.1 in c:\users\sunil\appdata\roaming\python\python313\site-packages (from ipykernel->-r requirements.txt (line 1)) (0.1.7)
Requirement already satisfied: nest-asyncio in c:\users\sunil\appdata\roaming\python\python313\site-packages (from ipykernel->-r requirements.txt (line 1)) (1.6.0)
Requirement already satisfied: packaging in c:\users\sunil\appdata\roaming\python\python313\site-packages (from ipykernel->-r requirements.txt (line 1)) (24.2)
Requirement already satisfied: psutil in c:\users\sunil\appdata\roaming\python\python313\site-packages (from ipykernel->-r requirements.txt (line 1)) (6.1.0)
Requirement already satisfied: pyzmq>=24 in c:\users\sunil\appdata\roaming\python\python313\site-packages (from ipykernel->-r requirements.txt (line 1)) (26.2.0)
Requirement already satisfied: tornado>=6.1 in c:\users\sunil\appdata\roaming\python\python313\site-packages (from ipykernel->-r requirements.txt (line 1)) (6.4.2)
Requirement already satisfied: traitlets>=5.4.0 in c:\users\sunil\appdata\roaming\python\python313\site-packages (from ipykernel->-r requirements.txt (line 1)) (5.14.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sunil\appdata\roaming\python\python313\site-packages (from pandas->-r requirements.txt (line 2)) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas->-r requirements.txt (line 2))
  Using cached pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas->-r requirements.txt (line 2))
  Using cached tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Collecting contourpy>=1.0.1 (from matplotlib->-r requirements.txt (line 5))
  Downloading contourpy-1.3.1-cp313-cp313-win_amd64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib->-r requirements.txt (line 5))
  Using cached cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib->-r requirements.txt (line 5))
  Downloading fonttools-4.55.0-cp313-cp313-win_amd64.whl.metadata (167 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib->-r requirements.txt (line 5))
  Downloading kiwisolver-1.4.7-cp313-cp313-win_amd64.whl.metadata (6.4 kB)
Collecting pillow>=8 (from matplotlib->-r requirements.txt (line 5))
  Downloading pillow-11.0.0-cp313-cp313-win_amd64.whl.metadata (9.3 kB)
Collecting pyparsing>=2.3.1 (from matplotlib->-r requirements.txt (line 5))
  Using cached pyparsing-3.2.0-py3-none-any.whl.metadata (5.0 kB)
Collecting et-xmlfile (from openpyxl->-r requirements.txt (line 6))
  Using cached et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Collecting scipy>=1.6.0 (from scikit-learn->-r requirements.txt (line 7))
  Downloading scipy-1.14.1-cp313-cp313-win_amd64.whl.metadata (60 kB)
Collecting joblib>=1.2.0 (from scikit-learn->-r requirements.txt (line 7))
  Using cached joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn->-r requirements.txt (line 7))
  Using cached threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: colorama in c:\users\sunil\appdata\roaming\python\python313\site-packages (from ipython>=7.23.1->ipykernel->-r requirements.txt (line 1)) (0.4.6)
Requirement already satisfied: decorator in c:\users\sunil\appdata\roaming\python\python313\site-packages (from ipython>=7.23.1->ipykernel->-r requirements.txt (line 1)) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\sunil\appdata\roaming\python\python313\site-packages (from ipython>=7.23.1->ipykernel->-r requirements.txt (line 1)) (0.19.2)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\sunil\appdata\roaming\python\python313\site-packages (from ipython>=7.23.1->ipykernel->-r requirements.txt (line 1)) (3.0.48)
Requirement already satisfied: pygments>=2.4.0 in c:\users\sunil\appdata\roaming\python\python313\site-packages (from ipython>=7.23.1->ipykernel->-r requirements.txt (line 1)) (2.18.0)
Requirement already satisfied: stack_data in c:\users\sunil\appdata\roaming\python\python313\site-packages (from ipython>=7.23.1->ipykernel->-r requirements.txt (line 1)) (0.6.3)
Requirement already satisfied: platformdirs>=2.5 in c:\users\sunil\appdata\roaming\python\python313\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel->-r requirements.txt (line 1)) (4.3.6)
Requirement already satisfied: pywin32>=300 in c:\users\sunil\appdata\roaming\python\python313\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel->-r requirements.txt (line 1)) (308)
Requirement already satisfied: six>=1.5 in c:\users\sunil\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas->-r requirements.txt (line 2)) (1.16.0)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\sunil\appdata\roaming\python\python313\site-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel->-r requirements.txt (line 1)) (0.8.4)
Requirement already satisfied: wcwidth in c:\users\sunil\appdata\roaming\python\python313\site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython>=7.23.1->ipykernel->-r requirements.txt (line 1)) (0.2.13)
Requirement already satisfied: executing>=1.2.0 in c:\users\sunil\appdata\roaming\python\python313\site-packages (from stack_data->ipython>=7.23.1->ipykernel->-r requirements.txt (line 1)) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\sunil\appdata\roaming\python\python313\site-packages (from stack_data->ipython>=7.23.1->ipykernel->-r requirements.txt (line 1)) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\sunil\appdata\roaming\python\python313\site-packages (from stack_data->ipython>=7.23.1->ipykernel->-r requirements.txt (line 1)) (0.2.3)
Using cached pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
Using cached numpy-2.1.3-cp313-cp313-win_amd64.whl (12.6 MB)
Using cached seaborn-0.13.2-py3-none-any.whl (294 kB)
Downloading matplotlib-3.9.3-cp313-cp313-win_amd64.whl (7.8 MB)
   ---------------------------------------- 0.0/7.8 MB ? eta -:--:--
   ------------ --------------------------- 2.4/7.8 MB 11.9 MB/s eta 0:00:01
   ------------------------ --------------- 4.7/7.8 MB 11.9 MB/s eta 0:00:01
   ------------------------------------- -- 7.3/7.8 MB 11.9 MB/s eta 0:00:01
   ---------------------------------------- 7.8/7.8 MB 11.5 MB/s eta 0:00:00
Using cached openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading scikit_learn-1.5.2-cp313-cp313-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   -------- ------------------------------- 2.4/11.0 MB 11.9 MB/s eta 0:00:01
   ------------------ --------------------- 5.0/11.0 MB 11.8 MB/s eta 0:00:01
   -------------------------- ------------- 7.3/11.0 MB 11.9 MB/s eta 0:00:01
   ------------------------------------ --- 10.0/11.0 MB 11.9 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 11.6 MB/s eta 0:00:00
Downloading contourpy-1.3.1-cp313-cp313-win_amd64.whl (220 kB)
Using cached cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.55.0-cp313-cp313-win_amd64.whl (2.2 MB)
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   ---------------------------------------- 2.2/2.2 MB 11.2 MB/s eta 0:00:00
Using cached joblib-1.4.2-py3-none-any.whl (301 kB)
Downloading kiwisolver-1.4.7-cp313-cp313-win_amd64.whl (55 kB)
Downloading pillow-11.0.0-cp313-cp313-win_amd64.whl (2.6 MB)
   ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
   ------------------------------------ --- 2.4/2.6 MB 11.9 MB/s eta 0:00:01
   ---------------------------------------- 2.6/2.6 MB 11.3 MB/s eta 0:00:00
Using cached pyparsing-3.2.0-py3-none-any.whl (106 kB)
Using cached pytz-2024.2-py2.py3-none-any.whl (508 kB)
Downloading scipy-1.14.1-cp313-cp313-win_amd64.whl (44.5 MB)
   ---------------------------------------- 0.0/44.5 MB ? eta -:--:--
   - -------------------------------------- 2.1/44.5 MB 11.9 MB/s eta 0:00:04
   ---- ----------------------------------- 4.7/44.5 MB 11.9 MB/s eta 0:00:04
   ------ --------------------------------- 7.3/44.5 MB 11.8 MB/s eta 0:00:04
   -------- ------------------------------- 9.7/44.5 MB 11.9 MB/s eta 0:00:03
   ---------- ----------------------------- 12.1/44.5 MB 11.8 MB/s eta 0:00:03
   ------------ --------------------------- 14.4/44.5 MB 11.9 MB/s eta 0:00:03
   --------------- ------------------------ 17.0/44.5 MB 11.9 MB/s eta 0:00:03
   ----------------- ---------------------- 19.4/44.5 MB 11.9 MB/s eta 0:00:03
   ------------------- -------------------- 22.0/44.5 MB 11.8 MB/s eta 0:00:02
   ---------------------- ----------------- 24.6/44.5 MB 11.9 MB/s eta 0:00:02
   ------------------------ --------------- 27.0/44.5 MB 11.9 MB/s eta 0:00:02
   -------------------------- ------------- 29.4/44.5 MB 11.9 MB/s eta 0:00:02
   ---------------------------- ----------- 32.0/44.5 MB 11.8 MB/s eta 0:00:02
   ------------------------------ --------- 34.3/44.5 MB 11.8 MB/s eta 0:00:01
   --------------------------------- ------ 36.7/44.5 MB 11.8 MB/s eta 0:00:01
   ----------------------------------- ---- 39.3/44.5 MB 11.9 MB/s eta 0:00:01
   ------------------------------------- -- 41.2/44.5 MB 11.7 MB/s eta 0:00:01
   ---------------------------------------  43.5/44.5 MB 11.7 MB/s eta 0:00:01
   ---------------------------------------- 44.5/44.5 MB 11.4 MB/s eta 0:00:00
Using cached threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Using cached tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Using cached et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: pytz, tzdata, threadpoolctl, pyparsing, pillow, numpy, kiwisolver, joblib, fonttools, et-xmlfile, cycler, scipy, pandas, openpyxl, contourpy, scikit-learn, matplotlib, seaborn
Successfully installed contourpy-1.3.1 cycler-0.12.1 et-xmlfile-2.0.0 fonttools-4.55.0 joblib-1.4.2 kiwisolver-1.4.7 matplotlib-3.9.3 numpy-2.1.3 openpyxl-3.1.5 pandas-2.2.3 pillow-11.0.0 pyparsing-3.2.0 pytz-2024.2 scikit-learn-1.5.2 scipy-1.14.1 seaborn-0.13.2 threadpoolctl-3.5.0 tzdata-2024.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
df = pd.read_excel('Source/flight_price.xlsx')
df.head(5)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [3]:
# get the basic info of the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [4]:
df.describe()

              Price
count  10683.000000
mean    9087.064121
std     4611.359167
min     1759.000000
25%     5277.000000
50%     8372.000000
75%    12373.000000
max    79512.000000

Feature Engineering

In [5]:
# Fix Date_of_Journey  Field
df['Date'] = df['Date_of_Journey'].str.split('/').str[0]
df['Month'] = df['Date_of_Journey'].str.split('/').str[1]
df['Year'] = df['Date_of_Journey'].str.split('/').str[2]

# Convert the new fields from type object to Int
df['Date'] = df['Date'].astype(int)
df['Month'] = df['Month'].astype(int)
df['Year'] = df['Year'].astype(int)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
 11  Date             10683 non-null  int64
 12  Month            10683 non-null  int64
 13  Year             10683 non-null  int64
dtypes: int64(4), object(10)
memory usage: 1.1+ MB

In [6]:
# Drop Date Of Journey
try:
    df.drop('Date_of_Journey', axis=1, inplace=True)
except KeyError:
    print("Field removed previously")
    pass    
df.head

<bound method NDFrame.head of            Airline    Source Destination                  Route Dep_Time  \
0           IndiGo  Banglore   New Delhi              BLR → DEL    22:20
1        Air India   Kolkata    Banglore  CCU → IXR → BBI → BLR    05:50
2      Jet Airways     Delhi      Cochin  DEL → LKO → BOM → COK    09:25
3           IndiGo   Kolkata    Banglore        CCU → NAG → BLR    18:05
4           IndiGo  Banglore   New Delhi        BLR → NAG → DEL    16:50
...            ...       ...         ...                    ...      ...
10678     Air Asia   Kolkata    Banglore              CCU → BLR    19:55
10679    Air India   Kolkata    Banglore              CCU → BLR    20:45
10680  Jet Airways  Banglore       Delhi              BLR → DEL    08:20
10681      Vistara  Banglore   New Delhi              BLR → DEL    11:30
10682    Air India     Delhi      Cochin  DEL → GOI → BOM → COK    10:55

       Arrival_Time Duration Total_Stops Additional_Info  Price  Date  Month  \
0      01:10 22 Mar   2h 50m    non-stop         No info   3897    24      3
1             13:15   7h 25m     2 stops         No info   7662     1      5
2      04:25 10 Jun      19h     2 stops         No info  13882     9      6
3             23:30   5h 25m      1 stop         No info   6218    12      5
4             21:35   4h 45m      1 stop         No info  13302     1      3
...             ...      ...         ...             ...    ...   ...    ...
10678         22:25   2h 30m    non-stop         No info   4107     9      4
10679         23:20   2h 35m    non-stop         No info   4145    27      4
10680         11:20       3h    non-stop         No info   7229    27      4
10681         14:10   2h 40m    non-stop         No info  12648     1      3
10682         19:15   8h 20m     2 stops         No info  11753     9      5

       Year
0      2019
1      2019
2      2019
3      2019
4      2019
...     ...
10678  2019
10679  2019
10680  2019
10681  2019
10682  2019

[10683 rows x 13 columns]>

In [7]:
# Fix Arrival_Time  Field
df['Arrival_Time'] = df['Arrival_Time'].apply(lambda x:x.split(' ')[0])  # Remove all date entry and only keep hours and minutes
df.head(2)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897,24,3,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5,2019

In [8]:
# Drop Departure and Arrival columns
try:
    df['Dep_hour'] = df['Dep_Time'].str.split(':').str[0]
    df['Dep_min'] = df['Dep_Time'].str.split(':').str[0]
    df['Arrival_hour'] = df['Arrival_Time'].str.split(':').str[0]
    df['Arrival_min'] = df['Arrival_Time'].str.split(':').str[0]

    df['Dep_hour'] = df['Dep_hour'].astype(int)
    df['Dep_min'] = df['Dep_min'].astype(int)
    df['Arrival_hour'] = df['Arrival_hour'].astype(int)
    df['Arrival_min'] = df['Arrival_min'].astype(int)
    
    df.drop(['Dep_Time','Arrival_Time'], axis =1, inplace=True)
except KeyError:
    print("Field processed previously")
    pass    
df.head

<bound method NDFrame.head of            Airline    Source Destination                  Route Duration  \
0           IndiGo  Banglore   New Delhi              BLR → DEL   2h 50m
1        Air India   Kolkata    Banglore  CCU → IXR → BBI → BLR   7h 25m
2      Jet Airways     Delhi      Cochin  DEL → LKO → BOM → COK      19h
3           IndiGo   Kolkata    Banglore        CCU → NAG → BLR   5h 25m
4           IndiGo  Banglore   New Delhi        BLR → NAG → DEL   4h 45m
...            ...       ...         ...                    ...      ...
10678     Air Asia   Kolkata    Banglore              CCU → BLR   2h 30m
10679    Air India   Kolkata    Banglore              CCU → BLR   2h 35m
10680  Jet Airways  Banglore       Delhi              BLR → DEL       3h
10681      Vistara  Banglore   New Delhi              BLR → DEL   2h 40m
10682    Air India     Delhi      Cochin  DEL → GOI → BOM → COK   8h 20m

      Total_Stops Additional_Info  Price  Date  Month  Year  Dep_hour  \
0        non-stop         No info   3897    24      3  2019        22
1         2 stops         No info   7662     1      5  2019         5
2         2 stops         No info  13882     9      6  2019         9
3          1 stop         No info   6218    12      5  2019        18
4          1 stop         No info  13302     1      3  2019        16
...           ...             ...    ...   ...    ...   ...       ...
10678    non-stop         No info   4107     9      4  2019        19
10679    non-stop         No info   4145    27      4  2019        20
10680    non-stop         No info   7229    27      4  2019         8
10681    non-stop         No info  12648     1      3  2019        11
10682     2 stops         No info  11753     9      5  2019        10

       Dep_min  Arrival_hour  Arrival_min
0           22             1            1
1            5            13           13
2            9             4            4
3           18            23           23
4           16            21           21
...        ...           ...          ...
10678       19            22           22
10679       20            23           23
10680        8            11           11
10681       11            14           14
10682       10            19           19

[10683 rows x 15 columns]>

In [9]:
# Split Duration : Complex as sometimes just minutes or hours are present

def split_time(time_str):
    hours = 0
    min = 0
    if 'h' in time_str:
        hours = int(time_str.split('h')[0])
        time_str = time_str.split('h')[1]
    if 'm' in time_str:
        min = int(time_str.split('m')[0])
    return hours, min
df[['Duration_hours', 'Duration_min']] = df['Duration'].apply(lambda x: pd.Series(split_time(x)))

In [10]:
# Fix Total_stops for missing value also map it as numarical
df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [11]:
df['Total_Stops'].mode()  # We will use the result to replace the missing values with
df['Total_Stops'].unique()  # We see that there is a single null value

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [12]:
df['Total_Stops'] = df['Total_Stops'].map({'non-stop': 0, '2 stops': 2, '1 stop' : 1, '3 stops': 3,'4 stops':4, np.nan:1})
df.head(2)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Dep_hour,Dep_min,Arrival_hour,Arrival_min,Duration_hours,Duration_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,0,No info,3897,24,3,2019,22,22,1,1,2,50
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2,No info,7662,1,5,2019,5,5,13,13,7,25

In [13]:
print(df['Airline'].unique())
print(df['Source'].unique())
print(df['Destination'].unique())
print(df['Additional_Info'].unique())

['IndiGo' 'Air India' 'Jet Airways' 'SpiceJet' 'Multiple carriers' 'GoAir'
 'Vistara' 'Air Asia' 'Vistara Premium economy' 'Jet Airways Business'
 'Multiple carriers Premium economy' 'Trujet']
['Banglore' 'Kolkata' 'Delhi' 'Chennai' 'Mumbai']
['New Delhi' 'Banglore' 'Cochin' 'Kolkata' 'Delhi' 'Hyderabad']
['No info' 'In-flight meal not included' 'No check-in baggage included'
 '1 Short layover' 'No Info' '1 Long layover' 'Change airports'
 'Business class' 'Red-eye flight' '2 Long layover']

<!-- While developing Data Science Projects, we may find datasets containing mixed data types consisting of both categorical as well as numerical columns. However, various Machine Learning models do not work with categorical data and to fit this data into the machine learning model it needs to be converted into numerical data. For example, suppose a dataset has a Gender column with categorical elements like Male and  Female. These labels have no specific order of preference and also since the data is string labels, machine learning models misinterpreted that there is some sort of hierarchy in them. -->

<!-- To address this issue, one effective technique is one hot encoding. OHE in machine learning transforms categorical data into a numerical format that machine learning algorithms can process without imposing any ordinal relationships. -->

One Hot Encoding for dimensional values

While developing Data Science Projects, we may find datasets containing mixed data types consisting of both categorical as well as numerical columns. However, various Machine Learning models do not work with categorical data and to fit this data into the machine learning model it needs to be converted into numerical data. For example, suppose a dataset has a Gender column with categorical elements like Male and  Female. These labels have no specific order of preference and also since the data is string labels, machine learning models misinterpreted that there is some sort of hierarchy in them.

To address this issue, one effective technique is one hot encoding. OHE in machine learning transforms categorical data into a numerical format that machine learning algorithms can process without imposing any ordinal relationships.

In [14]:
# Method to One hot encode features and drop orignal
def encode_and_bind(original_dataframe, feature_to_encode):
    dummies = pd.get_dummies(original_dataframe[[feature_to_encode]]).astype(int)
    df = pd.concat([original_dataframe, dummies], axis=1)
    df = df.drop([feature_to_encode], axis=1)
    return(df)

In [15]:
# Loop features
features_to_encode = ['Airline','Source','Destination', 'Additional_Info']
for feature in features_to_encode:
    df = encode_and_bind(df, feature)
df.head(2)

,Route,Duration,Total_Stops,Price,Date,Month,Year,Dep_hour,Dep_min,Arrival_hour,...,Additional_Info_1 Long layover,Additional_Info_1 Short layover,Additional_Info_2 Long layover,Additional_Info_Business class,Additional_Info_Change airports,Additional_Info_In-flight meal not included,Additional_Info_No Info,Additional_Info_No check-in baggage included,Additional_Info_No info,Additional_Info_Red-eye flight
0,BLR → DEL,2h 50m,0,3897,24,3,2019,22,22,1,...,0,0,0,0,0,0,0,0,1,0
1,CCU → IXR → BBI → BLR,7h 25m,2,7662,1,5,2019,5,5,13,...,0,0,0,0,0,0,0,0,1,0

In [16]:
df.drop(columns=['Route','Duration'], axis =1, inplace=True)  # Route is not required
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 44 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Total_Stops                                   10683 non-null  int64
 1   Price                                         10683 non-null  int64
 2   Date                                          10683 non-null  int64
 3   Month                                         10683 non-null  int64
 4   Year                                          10683 non-null  int64
 5   Dep_hour                                      10683 non-null  int64
 6   Dep_min                                       10683 non-null  int64
 7   Arrival_hour                                  10683 non-null  int64
 8   Arrival_min                                   10683 non-null  int64
 9   Duration_hours                                10683 non-null  int64
 10  Duration_min                                  10683 non-null  int64
 11  Airline_Air Asia                              10683 non-null  int64
 12  Airline_Air India                             10683 non-null  int64
 13  Airline_GoAir                                 10683 non-null  int64
 14  Airline_IndiGo                                10683 non-null  int64
 15  Airline_Jet Airways                           10683 non-null  int64
 16  Airline_Jet Airways Business                  10683 non-null  int64
 17  Airline_Multiple carriers                     10683 non-null  int64
 18  Airline_Multiple carriers Premium economy     10683 non-null  int64
 19  Airline_SpiceJet                              10683 non-null  int64
 20  Airline_Trujet                                10683 non-null  int64
 21  Airline_Vistara                               10683 non-null  int64
 22  Airline_Vistara Premium economy               10683 non-null  int64
 23  Source_Banglore                               10683 non-null  int64
 24  Source_Chennai                                10683 non-null  int64
 25  Source_Delhi                                  10683 non-null  int64
 26  Source_Kolkata                                10683 non-null  int64
 27  Source_Mumbai                                 10683 non-null  int64
 28  Destination_Banglore                          10683 non-null  int64
 29  Destination_Cochin                            10683 non-null  int64
 30  Destination_Delhi                             10683 non-null  int64
 31  Destination_Hyderabad                         10683 non-null  int64
 32  Destination_Kolkata                           10683 non-null  int64
 33  Destination_New Delhi                         10683 non-null  int64
 34  Additional_Info_1 Long layover                10683 non-null  int64
 35  Additional_Info_1 Short layover               10683 non-null  int64
 36  Additional_Info_2 Long layover                10683 non-null  int64
 37  Additional_Info_Business class                10683 non-null  int64
 38  Additional_Info_Change airports               10683 non-null  int64
 39  Additional_Info_In-flight meal not included   10683 non-null  int64
 40  Additional_Info_No Info                       10683 non-null  int64
 41  Additional_Info_No check-in baggage included  10683 non-null  int64
 42  Additional_Info_No info                       10683 non-null  int64
 43  Additional_Info_Red-eye flight                10683 non-null  int64
dtypes: int64(44)
memory usage: 3.6 MB

In [17]:
df.to_csv('Output/flight_price_cleaned.csv', mode='w', index=False)
print("Data cleaned and saved to csv file")  # Print a success message

Data cleaned and saved to csv file

The dataset is now ready to be consumed for analysis/machine learning